<header class="c-header">
    <a href="/">Crefla-Blog</a>
    <span>for microCMS</span>
</header>

<style>
    .c-header {
        margin: 0;
        padding: 15px 30px;
        border-bottom: solid 1px #000;

        a {
            font-size: 24px;
            font-weight: 500;
        }

        span {
            display: block;
            margin-left: 20px;
            font-size: 14px;
        }
    }
</style>